# Created on Sun Apr 26 2020
#
# Base entity related messages.
# This file is resposible for storing all the base protobuff `message`.
#
# @authors nirajgeorgian@oojob.io (Niraj Kishore)
#
# Copyright (c) 2020 - oojob

# protocol buffers code review
*.proto @nirajgeorgian

# protocol generation language specif file code review
*.protolangs @nirajgeorgian

# git hooks for custom devlopment
.githooks/* @nirajgeorgian